.cover-photo {
    height: 90%;
	background: url('../media/electrical.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.descriptions {
	padding-top: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 2rem;
	background-color: #f7f7f7;
	text-align: center;
}

.descriptions img {
	display: block;
    width: 90%;
}

.section {
    padding-bottom: 2rem;
}

/* Logos */
#elevenx {
	margin-top: 2rem;
}

#uofthacks {
	margin-top: 4rem;
}