/* Cover Photo */
.cover-photo {
    height: 90%;
	background: url('../media/gallery.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}


/* Photos */
.box__outer{
	height: 23rem;
}

.box__inner {
	height: 23rem;
}

.box__inner .cat_name {
	color: white;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 800;
	font-size: 2rem;
    padding-left: 1rem;
}

#mechanical {
	background: url('../media/mechanical.jpg');
	background-size: cover;
}

#electrical {
	background: url('../media/sample.jpg');
	background-size: cover;
}

#science {
	background: url('../media/science.jpg');
	background-size: cover;
}

#gallery {
	background: url('../media/sample.jpg');
	background-size: cover;
}

#hobbies {
	background: url('../media/sample.jpg');
	background-size: cover;
}

#contact {
	background: url('../media/sample.jpg');
	background-size: cover;
}