/* Cover Photo */
.cover-photo {
    height: 90%;
	background: url('../media/sample.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}


/* Photos */
.photo {
	padding-top: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 2rem;
	text-align: center;
}

.photo img {
	display: block;
	margin: auto;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.box__wrapper {
	padding-top: 5.2rem;
	padding-left: 2rem;
	padding-right: 2rem;
    padding-bottom: 1.5rem;
    margin: 0 auto;
}

.box__outer:hover .box__inner{
	transition: 0.3s;
	visibility: visible;
	opacity: 1;
}

.box__inner .cat_name {
	color: white;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 800;
	font-size: 2rem;
    padding-left: 1rem;
}

.box__inner .cat_title {
	color: white;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 600;
	font-size: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.box__outer{
	background: url('../media/sample.jpg');
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    height: 23rem;
	text-align: left;
	padding-left: 0rem;
	margin-bottom: 3rem;
}

.box__inner {
	background: linear-gradient(to top, rgba(0,0,0,1), rgba(255,255,255,0));
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
    height: 23rem;
	text-align: left;
	padding-left: 1rem;
    padding-top: 9rem;
	transition: 0.3s;
	visibility: hidden;
	opacity: 0;
}

#mechanical {
	background: url('../media/mechanical.jpg');
	background-size: cover;
}

#electrical {
	background: url('../media/sample.jpg');
	background-size: cover;
}

#science {
	background: url('../media/science.jpg');
	background-size: cover;
}

#gallery {
	background: url('../media/sample.jpg');
	background-size: cover;
}

#hobbies {
	background: url('../media/sample.jpg');
	background-size: cover;
}

#contact {
	background: url('../media/sample.jpg');
	background-size: cover;
}