.cover-photo {
    height: 90%;
	background: url('../media/hobbies.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.wrapper {
	padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

.content__about {
	padding: 7rem 2rem 2rem;
}

/* Descriptions */
.photos {
	padding-top: none;
}

.descriptions {
	padding-top: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 2rem;
}

.descriptions img {
	display: block;
	margin: auto;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.section {
    padding-bottom: 2rem;
}

.box__outer{
	height: 32rem;
}

.box__inner {
	height: 32rem;
	padding-top: 7rem;
}

.cat_title {
	font-size: 1.3rem;
}


#astro1{
    background: url('../media/hobbies/astronomy1.jpg');
	background-size: cover;
}

#astro2{
    background: url('../media/hobbies/astronomy2.jpg');
	background-size: cover;
}

#astro3{
    background: url('../media/hobbies/astronomy3.jpg');
	background-size: cover;
}

#photography1 {
	background: url('../media/hobbies/photography1.jpg');
	background-size: cover;
}

#photography2 {
	background: url('../media/hobbies/photography2.jpg');
	background-size: cover;
}

#photography3 {
	background: url('../media/hobbies/photography3.jpg');
	background-size: cover;
}

#gardening1 {
	background: url('../media/hobbies/gardening1.jpg');
	background-size: cover;
}

#gardening2 {
	background: url('../media/hobbies/gardening2.jpg');
	background-size: cover;
}

#gardening3 {
	background: url('../media/hobbies/gardening3.jpg');
	background-size: cover;
}