/* Cover Photo */
.cover-photo {
    height: 90%;
	background: url('../media/banner.JPG');
	background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

/* Bio */
.wrapper {
  padding-left: 3rem;
  padding-right: 2rem;
  padding-top: 4.5rem;
}

.content__about {
  padding-left: 3rem;
  font-size: 20px;
}


/* Links */
.links {
	padding-top: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 2rem;
	text-align: center;
}

.links img {
	display: block;
	margin: auto;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.box__outer{
    height: 23rem;
}

.box__inner {
    height: 23rem;
    padding-top: 5rem;
}

#design {
	background: url('../media/design.jpg');
	background-size: cover;
}

#manufacturing {
	background: url('../media/manufacturing.jpg');
	background-size: cover;
}

#projects {
	background: url('../media/mechanical.jpg');
	background-size: cover;
}

#gallery {
	background: url('../media/gallery.jpg');
	background-size: cover;
}

#hobbies {
	background: url('../media/hobbies.jpg');
	background-size: cover;
}

#contact {
	background: url('../media/contact.jpg');
	background-size: cover;
}