.cover-photo {
    height: 90%;
	background: url('../media/mechanical.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.descriptions {
	padding-top: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 2rem;
	background-color: #f7f7f7;
	text-align: center;
}

.descriptions img {
	display: block;
    width: 90%;
}

.section {
    padding-bottom: 2rem;
}

/* Logos */
#skillsontario {

}

/* Photos */

.photos {
	margin-left: 11rem;
}


#payload1_inner{
	height: 25rem;
	margin: 0 auto;
	padding-top: 15rem;
}

#payload1 {
	background: url('../media/mechanical/Waterloo Rocketry/payload_cubesat_endface.JPG');
	background-size: cover;
	height: 25rem;
	width: 30rem;
	margin: 0 auto;
}

#payload2_inner{
	height: 25rem;
	margin: 0 auto;
	padding-top: 10rem;
}

#payload2 {
	background: url('../media/mechanical/Waterloo Rocketry/payload_tablet_attachment.JPG');
	background-size: cover;
	height: 25rem;
	width: 25rem;
	margin: 0 auto;
}

#payload3_inner{
	height: 25rem;
	margin: 0 auto;
	padding-top: 3rem; 
}

#payload3 {
	background: url('../media/mechanical/Waterloo Rocketry/payload_cubesat.jpg');
	background-size: cover;
	height: 25rem;
	width: 15rem;
	margin: 0 auto;
}

#recovery1 {
	background: url('../media/science.jpg');
	background-size: cover;
}