.cover-photo {
    height: 90%;
	background: url('../media/science.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.descriptions {
	padding-top: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 2rem;
	background-color: #f7f7f7;
	text-align: center;
}

.descriptions img {
	display: block;
    width: 90%;
}

.section {
    padding-bottom: 2rem;
}

/* Logos */
#eclipsemegamovie{
	margin-top: 4rem;
}

/* Photo */

.box__inner4 {
	padding-top: 20rem;
}

#canrgx1_inner{
	height: 22rem;
	margin: 0 auto;
	padding-top: 10rem;
}

#canrgx1 {
	background: url('../media/science/canrgx/sponsors.jpg');
	background-size: cover;
	height: 22rem;
	margin: 0 auto;
}

#canrgx2_inner{
	height: 17rem;
	margin: 0 auto;
	padding-top: 6rem;
}

#canrgx2 {
	background: url('../media/science/canrgx/experiment.jpg');
	background-size: cover;
	height: 17rem;
	margin: 3rem auto;
}

#canrgx3_inner{
	height: 22rem;
	margin: 0 auto;
	padding-top: 11rem;
}

#canrgx3 {
	background: url('../media/science/canrgx/experiment2.jpg');
	background-size: cover;
	height: 22rem;
	margin: 0 auto;
}


#eclipse1_inner{
	height: 35rem;
	margin: 0 auto;
	padding-top: 25rem;
}

#eclipse1 {
	background: url('../media/science/eclipse_megamovie/glasses.JPG');
	background-size: cover;
	height: 35rem;
	margin: 0 auto;
}

#eclipse2_inner{
	height: 35rem;
	margin: 0 auto;
	padding-top: 25rem;
}

#eclipse2 {
	background: url('../media/science/eclipse_megamovie/pano.jpg');
	background-size: cover;
	height: 35rem;
	margin: 0 auto;
}